

.first h1 {
    font-family: Sofia, cursive;
}
.first h2{
    font-family: Trirong;
}
.first h3{
    font-family: Audiowide;
}

.second h1{
    font-family: Georgia;
    background-color: red;
    font-size: 43px;
}
.second p{
    font-family: Verdana;
    font-size: 15px;
}